.navbar-section{
    display: flex;
    justify-content:space-between;
    align-items:top;
    background-image:url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height:700px;
    margin-bottom: 150px;}
    .upmost{
        background-color: rgba(214, 221, 237, 0.7);
    }
.website{
    color:rgba(78, 71, 255, 1);
    font-weight:bold;
    font-size:22px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 50px;
  margin-left:150px;
}
.modify{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
}
.su-btn{
    margin-top: 50px;
    margin-right: 150px;
}

    .text{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size:65px;
  margin-top: 300px;
  text-align: center;
}
.modify-sf{
     background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
    margin-top:37px;
    text-align: center;
}
.action-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-ll{
      background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
    text-align: center;
}
.ac-img{
    border-radius: 48px;
}
.pu-sc{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.pc-nu{
color: rgba(78, 71, 255, 1);
font-family:"Inter", sans-serif; 
font-weight:bold;
font-size: 80px;
margin: 0px;
}
.pc-tx{
    font-family:"Inter", sans-serif; 
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0px;
    border-style: none;}
    .productive-user{
         background-color: rgba(78, 71, 255, 0.1); 
         height: 200px;
         width: 1200;
         padding: 25px 142px 200px;
         margin-left: 333px;
         margin-right: 333px;
         border-radius: 24px;
         margin-top: 100px;
         
}
.users-review{
    width:350px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(242, 237, 237, 1);

}
.user-profile{
    display:flex;
    gap: 9px;
    align-items: center;
}
   .review-title{
    font-family:"Raleway", sans-serif; 
    font-weight: bold;
    font-size:42px;
    text-align: center;

    
 }
 .final-preview{
    display: flex;
    justify-content: space-around;
    margin-left: 270px;
    align-items: center;
    margin-right: 200px;
    margin-top: 30px;
 }  
.news-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:115px;
    background-color: rgba(214, 221, 237, 0.7);
    margin-top: 100px;
} 

.new-txt{
    font-family:"Raleway", sans-serif; 
    font-weight:bold;
    font-size: 97px;
}
.new-txt p{
    margin:0px;
}
.btn-gt{
    background:linear-gradient(To right,rgba(148, 3, 253, 1),rgba(0, 173, 254, 1));
    color:white;
    padding: 19px 201px;
    height:65px;
    width:500px;
    border-radius: 10px;
    margin-top: 5px;
}
.full-previewe{
    background-color: rgba(214, 221, 237, 0.7);
}
.bx-ed{
 height: 25px;
 width: 450px;
 border-radius: 10px;
 padding: 20px;
 font-size: 20px;
}

  .message-box{
    border-radius: 10px;
 padding: 20px;
 color: rgba(0, 0, 0, 0.5);
 font-size: 20px;
  }  
     .ft-lg{
         color:rgba(78, 71, 255, 1);
    font-weight:bold;
    font-size:100px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-content: center;
  margin-left: 770px;
  margin-top: 120px;
     }
    .ft-text{
        text-align: center;
        color: rgba(137, 135, 161, 1);
        font-size: 17px;
    }
    .about{
        display: flex;
    justify-content: center;
        align-items: center;
        list-style-type: none;
        color: rgba(137, 135, 161, 1);
        gap: 62px;
    }
    