.navbar-section{
    display: flex;
    justify-content:space-between;
    align-items:top;
    background-image:url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height:700px;
    margin-bottom: 150px;
}
.website{
    color:rgba(78, 71, 255, 1);
    font-weight:bold;
    font-size:22px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 50px;
  margin-left:150px;
}
.modify{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
}
.su-btn{
    margin-top: 50px;
    margin-right: 150px;
}

    .text{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size:65px;
  margin-top: 300px;
  text-align: center;
}
.modify-sf{
     background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
    margin-top:37px;
    text-align: center;
}
.action-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-ll{
      background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 12px 36px;
    text-align: center;
}
.ac-img{
    border-radius: 48px;
}
.pu-sc{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.pc-nu{
color: rgba(78, 71, 255, 1);
font-family:"Inter", sans-serif; 
font-weight:bold;
font-size: 80px;
margin: 0px;
}
.pc-tx{
    font-family:"Inter", sans-serif; 
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0px;
    border-style: none;}
    .productive-user{
         background-color: rgba(78, 71, 255, 0.1); 
         height: 200px;
         width: 1200;
         padding: 25px 142px 200px;
         margin-left: 333px;
         margin-right: 333px;
         border-radius: 24px;
         margin-top: 100px;
         
}
.users-review{
    width:350px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.5) 50%;
    box-shadow: rgba(242, 237, 237, 1);

}
.user-profile{
    display:flex;
    gap: 9px;
    align-items: center;
}
   .review-title{
    font-family:"Raleway", sans-serif; 
    font-weight: bold;
    font-size:42px;
    text-align: center;
    margin-bottom: 100px;
 }
 .final-preview{
    display: flex;
    gap:40px;
    margin-left:340px;
    align-items: center;
 }  


    
     
    
    